.settingsToggler {
  color: snow;
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 9px;
}

.settings {
  background: black;
  border: 1px solid var(--color-space-gray);
  color: snow;
  list-style: none;
  margin: 0;
  padding: 24px;
  position: absolute;
  right: 12px;
  top: 38px;
  width: 60%;
  z-index: 2;
}

.clearTasks {
  cursor: pointer;
}
