.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task {
  align-items: center;
  background: navajowhite;
  border-radius: 4px;
  color: darkcyan;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 0 24px;
  position: relative;
}

li.done {
  background: dimgray;
  color: white;
}

.done .taskName {
  text-decoration: line-through;
}

.taskInfo {
  align-items: center;
  display: flex;
}

.taskName {
  display: inline-block;
  margin: 0;
}

.emptyList {
  background: salmon;
  border-radius: 4px;
  color: mistyrose;
  padding: 12px;
}

.completeButton {
  color: azure;
  font-size: 24px;
  margin-right: 12px;
}

.deleteButton {
  color: tomato;
  font-size: 18px;
}
